In [2]:
import pandas as pd

In [43]:
data = pd.read_csv(r'C:\Users\430 G4\Desktop\Data Science\DSEA\Week 1\data2.csv')

In [44]:
data.head()

,id,first_name,last_name,email,gender,Internet_Usage,Contract_Durations,monthly_bill,age,location
0,1,Brittan,Clewley,bclewley0@pen.io,Female,28,13,$6.05,49,Karano
1,2,Dacy,Antonsson,dantonsson1@answers.com,Female,46,63,$6.82,38,Huddinge
2,3,Alvinia,Feild,afeild2@domainmarket.com,Female,43,62,$4.71,87,Paris 15
3,4,Abra,Piechnik,apiechnik3@youtu.be,Female,63,88,$3.60,34,Aix-en-Provence
4,5,Olav,Scholling,oscholling4@hugedomains.com,Male,1,99,$2.19,58,Esperanza

In [6]:
data.shape

(1000, 10)

In [45]:
# Missing values
data.isnull().sum()

id                    0
first_name            0
last_name             0
email                 0
gender                0
Internet_Usage        0
Contract_Durations    0
monthly_bill          0
age                   0
location              0
dtype: int64

In [47]:
# Normalize monthly Internet_Usage columns

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
data['Internet_Usage'] = scaler.fit_transform(data['Internet_Usage'].values.reshape(-1, 1))

print(data)

       id first_name  last_name                        email  gender  \
0       1    Brittan    Clewley             bclewley0@pen.io  Female
1       2       Dacy  Antonsson      dantonsson1@answers.com  Female
2       3    Alvinia      Feild     afeild2@domainmarket.com  Female
3       4       Abra   Piechnik          apiechnik3@youtu.be  Female
4       5       Olav  Scholling  oscholling4@hugedomains.com    Male
..    ...        ...        ...                          ...     ...
995   996    Freeman    Dunphie         fdunphiern@google.ru    Male
996   997      Patty    Pacheco       ppachecoro@cornell.edu  Female
997   998   Cyrillus  McConaghy          cmcconaghyrp@gov.uk    Male
998   999   Joycelin    Sitwell           jsitwellrq@mac.com  Female
999  1000  Guillermo   Houdhury         ghoudhuryrr@army.mil    Male

     Internet_Usage  Contract_Durations monthly_bill  age         location
0          0.272727                  13        $6.05   49           Karano
1          0.454545                  63        $6.82   38         Huddinge
2          0.424242                  62        $4.71   87         Paris 15
3          0.626263                  88        $3.60   34  Aix-en-Provence
4          0.000000                  99        $2.19   58        Esperanza
..              ...                 ...          ...  ...              ...
995        0.919192                  41        $9.70   29  Castelo de Vide
996        0.909091                  81        $6.70   93         Mulhouse
997        0.515152                  92        $8.70   35       Norrk√∂ping
998        0.919192                  36        $7.97   22       Punkaharju
999        0.777778                  81        $3.82   41           Fuxing

[1000 rows x 10 columns]